---
BasedOnStyle: LLVM
AccessModifierOffset: '-4'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: '128'
Cpp11BracedListStyle: 'false'
IncludeCategories:
  - Regex:           '^"(\.{1,2}/)*common\.h"$'
    Priority:        -1
  - Regex:           '^<.*>$'
    Priority:        1
  - Regex:           '^".*"$'
    Priority:        2
IncludeIsMainRegex: 'false'
IndentWidth: '4'
PointerAlignment: Middle
SortIncludes: 'true'
Standard: Cpp11
TabWidth: '4'

...
