---
Checks: >
    -*,
    cppcoreguidelines-macro-usage,
    modernize-use-nullptr,
    modernize-use-override,
    readability-uppercase-literal-suffix
CheckOptions:
    - key: cppcoreguidelines-macro-usage.AllowedRegexp
      value: 'validate_global_widx|NETWORK_STREAM_VERSION'
    - key: readability-uppercase-literal-suffix.NewSuffixes
      value: 'u;L;uL;LL;uLL'
WarningsAsErrors: true
FormatStyle: 'file'
