---
Checks: >
    -*,
    cppcoreguidelines-macro-usage,
    modernize-use-nullptr,
    modernize-use-override
CheckOptions:
    - key: cppcoreguidelines-macro-usage.AllowedRegexp
      value: 'validate_global_widx|NETWORK_STREAM_VERSION'
WarningsAsErrors: true
FormatStyle: 'file'
