# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html
[Desktop Entry]
Type=Application
Version=1.0
Exec=openrct2 %u
Icon=openrct2
Name=OpenRCT2
GenericName=Theme park management game
GenericName[ar]=لعبة إدارة حديقة الملاهي
GenericName[ca]=Joc de simulació de parcs temàtics
GenericName[cs]=Strategická simulace zábavního parku
GenericName[de]=Freizeitpark-Simulation
GenericName[es]=Simulación de parque de atracciones.
GenericName[fr]=Jeu de gestion de parcs d'attractions.
GenericName[it]=Gioco di simulazione e gestione di parchi a tema
GenericName[ja]=テーマパーク経営シミュレーションゲーム
GenericName[nb]=Fornøyelsespark-simuleringsspill
GenericName[nl]=Pretparksimulator
GenericName[pt]=Jogo de gerenciamento de parque temático
GenericName[ru]=Игра в жанре симулятора управления парком развлечений
GenericName[sv]=Nöjesparks-simulator
GenericName[zh_CN]=主题公园经营游戏
GenericName[zh_TW]=主題樂園管理遊戲
Comment=Open Source re-implementation of RollerCoaster Tycoon 2.
Comment[ar]=إعادة إنشاء مفتوح المصدر للعبة محاكاة الأفعوانيات 2.
Comment[ca]=Reimplementació de codi obert del RollerCoaster Tycoon 2.
Comment[cs]=Open Source remake hry RollerCoaster Tycoon 2.
Comment[de]=Quelloffene Neuimplementierung von RollerCoaster Tycoon 2.
Comment[es]=Re-implementación de código abierto de RollerCoaster Tycoon 2.
Comment[fr]=Ré-implémentation libre (Open Source) de RollerCoaster Tycoon 2.
Comment[it]=Versione Open Source di RollerCoaster.
Comment[ja]=ローラーコースタータイクーン２のオープンソース版。
Comment[nb]=Open Source re-implementasjon av RollerCoaster Tycoon 2.
Comment[nl]=Een opensource-versie van RollerCoaster Tycoon 2.
Comment[pt]=Reimplementação em código aberto do RollerCoaster Tycoon 2.
Comment[ru]=Ремейк с открытым исходным кодом игры RollerCoaster Tycoon 2.
Comment[sv]=Open Source om-implementation av RollerCoaster Tycoon 2.
Comment[zh_CN]=过山车大亨2(RollerCoaster Tycoon 2)的开源重新开发版。
Comment[zh_TW]=重新開發並開放源碼的模擬樂園2 (RollerCoaster Tycoon 2)。
Categories=Game;Simulation;
Keywords=openrct2;rct2;rct;roller;coaster;tycoon;simulation;
