#!/usr/bin/make -f

BUILDDIR=build_dir

extra_flags := $(if $(filter i386,$(DEB_HOST_ARCH)),-DLAUNCHPAD_BUILD=on,-DLAUNCHPAD_BUILD=on -DUSE_MMAP=on -DDISABLE_RCT2=on)

override_dh_auto_configure:
	dh_auto_configure -a -- $(extra_flags)

%:
	dh $@
